{% extends 'base.html.twig' %}

{% block title %}Itineraries list{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto p-4">
        <div class="flex justify-between items-center mb-4 w-full">
            <h1 class="text-2xl font-bold">List of itineraries</h1>
            <div class="flex gap-2">
                <a href="{{ path('itinerary_new') }}" class="block bg-blue-500 text-white px-4 py-2 rounded-md">Create itinerary</a>
                <a href="{{ path('location_new') }}" class="block bg-blue-500 text-white px-4 py-2 rounded-md">Create location</a>
            </div>
        </div>

        <div class="flex flex-col gap-2">
            {% for index, itinerary in itineraries %}
                <div class="relative">
                    <a href="{{ path('itinerary_show', {id: itinerary.id}) }}" class="block p-4 bg-white shadow rounded-md">
                        <h2 class="font-bold text-xl capitalize">{{ index + 1 }} - {{ itinerary.title }}</h2>
                        <p>{{ itinerary.description }}</p>
                    </a>
                    <div class="absolute top-2 right-2 ">
                        <form action="{{ path('itinerary_delete', {'id': itinerary.id }) }}" method="post" class="z-10">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="cursor-pointer text-red-500" onclick="return confirm('Êtes-vous sur de vouloir supprimer cet itinéraire?')">
                                {{ ux_icon('lucide:trash-2', {height: "20px", width: "20px", 'aria-label': "Delete itinerary" }) }}
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
